<?xml version="1.0" encoding="UTF-8"?>

<config>

    <modules>

        <Twindom_DashBoardGraphs>
            <version>0.0.1</version>
        </Twindom_DashBoardGraphs>

    </modules>

    <global>

        <helpers>
            <twindom_dashboardgraphs>
                <class>Twindom_DashBoardGraphs_Helper</class>
            </twindom_dashboardgraphs>
        </helpers>

        <blocks>
            <twindom_dashboardgraphs>
                <class>Twindom_DashBoardGraphs_Block</class>
            </twindom_dashboardgraphs>
            <adminhtml>
                <rewrite>
                    <dashboard_diagrams>Twindom_DashBoardGraphs_Block_Adminhtml_Dashboard_Diagrams</dashboard_diagrams>
                </rewrite>
            </adminhtml>
        </blocks>

    </global>

</config>